doctype 5
html(lang='en')
  head
    title test
    script(type='text/javascript', src='lib/prelude.js')
    script(type='text/javascript', src='templates/template.js')
  body
    #viewport
    script(type='text/javascript', src='postlude/main.js')
    script(type='text/javascript', src='test/test.js')