*
  margin 0
  padding 0

html, body
  margin 0 auto
  height 100%
  overflow hidden

.wrapper
  height 100%

.viewport
  display table
  width 100%
  height 80%

  .sidebar
    float left
    width 20%
    padding 30px

  .content
    margin-left 20%
    padding 2px
    width 73%
    height 100%
    overflow-y scroll

.player
  height 10%

.playerButton
  display inline
  margin-right 10px

.loginDrop
  float right

footer
  position absolute
  bottom 0
  padding-top 30px
  padding-left 15px

header
  height 30px
  padding 8px
  margin 1px

.innerHeader
  display inline

.venueImg
  width 200px
  height 200px
  vertical-align top

.showImg
  width 200px
  height 200px
  vertical-align top

.venueContainer
  float left
  margin 8px
  margin-right 10px
  font-size 8px
  width 210px

.showContainer
  float left
  margin 8px
  margin-right 10px
  font-size 8px
  width 210px

.artistInformation
  float right
  width 48%
  height 100%

.venueInfo
  float left
  width 48%
  height 100%

#gmap
  height 300px
  width 300px

.playButton
  display none
  position absolute
  font-size 28px
  margin-top -30px